doctype html
head
    title="Formularz"
body
    form
        h1="Formularz rejestracyjny"
        label
            span="Nazwa"
            input(type="text", name="nazwa").wpis#nazwa
        label
            span="E-mail"
            input(type="text", name="email").wpis#email
        label
            span="Hasło"
            input(type="text", name="password").wpis#password
            button#doGoogle
                a(href= url)="Zaloguj"